<div theme id="container">
    <header>
        <app-button-fab [themeVariable]="'--secondary'" [materialIcon]="'keyboard_arrow_left'" (isClicked)="prevTheme()"></app-button-fab>
        {{title}} THEME
        <app-button-fab [themeVariable]="'--secondary'" [materialIcon]="'keyboard_arrow_right'" (isClicked)="nextTheme()"></app-button-fab>
    </header>

    <div class="theming" [ngClass]="{ hidden: !slidersVisibility }">
        <app-switch id="toggle" [name]="'Colors'" (isClicked)="toggleTheming()"></app-switch>
        <ng-container *ngFor="let themingVariable of themingColors">
            <app-slider [ngClass]="{'color-gradient': isColorType(themingVariable)}" [themeVariable]="themingVariable"
                [name]="themingVariable | formatVariable " [currentValue]="sliderValue[themingVariable]"
                [minValue]="0" [maxValue]="isColorType(themingVariable) ? 360 : 255" (isSlided)="updateColor($event, themingVariable)"></app-slider>
            <br>
        </ng-container>
    </div>

    <main class="grid" [ngClass]="{ pushed: slidersVisibility }">
        <div></div>
        <div>
            <ng-container *ngFor="let themeVariable of displayedColors">
                <app-showcase-title [themeVariable]="themeVariable" [name]="themeVariable"></app-showcase-title>
            </ng-container>
            <app-showcase-title style="--primary: var(--on-background);" [name]="'disabled'"></app-showcase-title>
        </div>

        <div class="title">Button - Contained</div>
        <div class="pure-material-card">
            <ng-container *ngFor="let themeVariable of displayedColors">
                <app-button-contained [themeVariable]="themeVariable" [name]="'Contained'"></app-button-contained>
            </ng-container>
            <app-button-contained [themeVariable]="themeVariable" [name]="'Contained'" [hasDisabled]="true"></app-button-contained>
        </div>

        <div class="title">Button - Outlined</div>
        <div class="pure-material-card">
            <ng-container *ngFor="let themeVariable of displayedColors">
                <app-button-outlined [themeVariable]="themeVariable" [name]="'Outlined'"></app-button-outlined>
            </ng-container>
            <app-button-outlined [themeVariable]="themeVariable" [name]="'Outlined'" [hasDisabled]="true"></app-button-outlined>
        </div>

        <div class="title">Button - Text</div>
        <div class="pure-material-card">
            <ng-container *ngFor="let themeVariable of displayedColors">
                <app-button-text [themeVariable]="themeVariable" [name]="'Text'"></app-button-text>
            </ng-container>
            <app-button-text [themeVariable]="themeVariable" [name]="'Text'" [hasDisabled]="true"></app-button-text>
        </div>

        <div class="title">Button - FAB</div>
        <div class="pure-material-card">
            <ng-container *ngFor="let themeVariable of displayedColors">
                <app-button-fab [themeVariable]="themeVariable" [materialIcon]="'palette'"></app-button-fab>
            </ng-container>
            <app-button-fab [themeVariable]="themeVariable" [materialIcon]="'palette'" [hasDisabled]="true"></app-button-fab>
        </div>

        <div class="title">Checkbox</div>
        <div class="pure-material-card">
            <div class="checkboxes" *ngFor="let themeVariable of displayedColors">
                <app-checkbox [themeVariable]="themeVariable" [name]="'Unchecked'"></app-checkbox>
                <app-checkbox [themeVariable]="themeVariable" [name]="'Checked'" [state]="'checked'"></app-checkbox>
                <app-checkbox [themeVariable]="themeVariable" [name]="'Indeterminate'" [state]="'indeterminate'"></app-checkbox>
            </div>
            <div class="checkboxes">
                <app-checkbox [themeVariable]="themeVariable" [name]="'Unchecked'" [hasDisabled]="true"></app-checkbox>
                <app-checkbox [themeVariable]="themeVariable" [name]="'Checked'" [state]="'checked'" [hasDisabled]="true"></app-checkbox>
                <app-checkbox [themeVariable]="themeVariable" [name]="'Indeterminate'" [state]="'indeterminate'"
                    [hasDisabled]="true"></app-checkbox>
            </div>
        </div>

        <div class="title">Radio Buttons</div>
        <div class="pure-material-card">
            <div class="radios" *ngFor="let themeVariable of displayedColors">
                <app-radio [themeVariable]="themeVariable" [name]="'Unchecked'" [groupName]="themeVariable"></app-radio>
                <app-radio [themeVariable]="themeVariable" [name]="'Checked'" [isChecked]="true" [groupName]="themeVariable"></app-radio>
            </div>
            <div class="radios">
                <app-radio [themeVariable]="themeVariable" [name]="'Unchecked'" [groupName]="themeVariable"
                    [hasDisabled]="true"></app-radio>
                <app-radio [themeVariable]="themeVariable" [name]="'Checked'" [isChecked]="true" [groupName]="themeVariable"
                    [hasDisabled]="true"></app-radio>
            </div>
        </div>

        <div class="title">Switch</div>
        <div class="pure-material-card">
            <div class="switches" *ngFor="let themeVariable of displayedColors">
                <app-switch [themeVariable]="themeVariable" [name]="'Off'"></app-switch>
                <br />
                <app-switch [themeVariable]="themeVariable" [name]="'On'" [isChecked]="true"></app-switch>
            </div>
            <div class="switches">
                <app-switch [themeVariable]="themeVariable" [name]="'Off'" [hasDisabled]="true"></app-switch>
                <br />
                <app-switch [themeVariable]="themeVariable" [name]="'On'" [isChecked]="true" [hasDisabled]="true"></app-switch>
            </div>
        </div>

        <div class="title">Slider</div>
        <div class="pure-material-card">
            <div *ngFor="let themeVariable of displayedColors">
                <app-slider [themeVariable]="themeVariable" [name]="'Slider'" [minValue]="0" [maxValue]="100"></app-slider>
            </div>
            <div>
                <app-slider [themeVariable]="themeVariable" [name]="'Slider'" [minValue]="0" [maxValue]="100"
                    [hasDisabled]="true"></app-slider>
            </div>
        </div>

        <div class="title">Progress - Circular</div>
        <div class="pure-material-card">
            <div *ngFor="let themeVariable of displayedColors">
                <app-progress-circular [themeVariable]="themeVariable"></app-progress-circular>
            </div>
            <div></div>
        </div>

        <div class="title">Progress - Linear</div>
        <div class="pure-material-card">
            <div class="progresses" *ngFor="let themeVariable of displayedColors">
                <app-progress-linear class="approximate" [themeVariable]="themeVariable" [currentValue]="value"
                    [maxValue]="100"></app-progress-linear>
                <app-progress-linear [themeVariable]="themeVariable" [indeterminate]="true"></app-progress-linear>
            </div>
            <div></div>
        </div>

        <div class="title">Textfield - Filled</div>
        <div class="pure-material-card">
            <div class="textfields" *ngFor="let themeVariable of displayedColors">
                <app-textfield-filled [themeVariable]="themeVariable" [name]="'Empty'"></app-textfield-filled>
                <app-textfield-filled [themeVariable]="themeVariable" [name]="'Non-empty'" [defaultText]="'Some text'"></app-textfield-filled>
                <app-textfield-filled [themeVariable]="themeVariable" [name]="'Empty Textarea'" [isTextarea]="true"></app-textfield-filled>
                <app-textfield-filled [themeVariable]="themeVariable" [name]="'Non-empty Textarea'" [defaultText]="'Some text'"
                    [isTextarea]="true"></app-textfield-filled>
            </div>
            <div class="textfields">
                <app-textfield-filled [themeVariable]="themeVariable" [name]="'Empty'" [hasDisabled]="true"></app-textfield-filled>
                <app-textfield-filled [themeVariable]="themeVariable" [name]="'Non-empty'" [defaultText]="'Some text'"
                    [hasDisabled]="true"></app-textfield-filled>
                <app-textfield-filled [themeVariable]="themeVariable" [name]="'Empty Textarea'" [isTextarea]="true"
                    [hasDisabled]="true"></app-textfield-filled>
                <app-textfield-filled [themeVariable]="themeVariable" [name]="'Non-empty Textarea'" [defaultText]="'Some text'"
                    [isTextarea]="true" [hasDisabled]="true"></app-textfield-filled>
            </div>
        </div>

        <div class="title">Textfield - Outlined</div>
        <div class="pure-material-card">
            <div class="textfields" *ngFor="let themeVariable of displayedColors">
                <app-textfield-outlined [themeVariable]="themeVariable" [name]="'Empty'"></app-textfield-outlined>
                <app-textfield-outlined [themeVariable]="themeVariable" [name]="'Non-empty'" [defaultText]="'Some text'"></app-textfield-outlined>
                <app-textfield-outlined [themeVariable]="themeVariable" [name]="'Empty Textarea'" [isTextarea]="true"></app-textfield-outlined>
                <app-textfield-outlined [themeVariable]="themeVariable" [name]="'Non-empty Textarea'" [defaultText]="'Some text'"
                    [isTextarea]="true"></app-textfield-outlined>
            </div>
            <div class="textfields">
                <app-textfield-outlined [themeVariable]="themeVariable" [name]="'Empty'" [hasDisabled]="true"></app-textfield-outlined>
                <app-textfield-outlined [themeVariable]="themeVariable" [name]="'Non-empty'" [defaultText]="'Some text'"
                    [hasDisabled]="true"></app-textfield-outlined>
                <app-textfield-outlined [themeVariable]="themeVariable" [name]="'Empty Textarea'" [isTextarea]="true"
                    [hasDisabled]="true"></app-textfield-outlined>
                <app-textfield-outlined [themeVariable]="themeVariable" [name]="'Non-empty Textarea'" [defaultText]="'Some text'"
                    [isTextarea]="true" [hasDisabled]="true"></app-textfield-outlined>
            </div>
        </div>

        <div class="title">Textfield - Standard</div>
        <div class="pure-material-card">
            <div class="textfields" *ngFor="let themeVariable of displayedColors">
                <app-textfield-standard [themeVariable]="themeVariable" [name]="'Empty'"></app-textfield-standard>
                <app-textfield-standard [themeVariable]="themeVariable" [name]="'Non-empty'" [defaultText]="'Some text'"></app-textfield-standard>
                <app-textfield-standard [themeVariable]="themeVariable" [name]="'Empty Textarea'" [isTextarea]="true"></app-textfield-standard>
                <app-textfield-standard [themeVariable]="themeVariable" [name]="'Non-empty Textarea'" [defaultText]="'Some text'"
                    [isTextarea]="true"></app-textfield-standard>
            </div>
            <div class="textfields">
                <app-textfield-standard [themeVariable]="themeVariable" [name]="'Empty'" [hasDisabled]="true"></app-textfield-standard>
                <app-textfield-standard [themeVariable]="themeVariable" [name]="'Non-empty'" [defaultText]="'Some text'"
                    [hasDisabled]="true"></app-textfield-standard>
                <app-textfield-standard [themeVariable]="themeVariable" [name]="'Empty Textarea'" [isTextarea]="true"
                    [hasDisabled]="true"></app-textfield-standard>
                <app-textfield-standard [themeVariable]="themeVariable" [name]="'Non-empty Textarea'" [defaultText]="'Some text'"
                    [isTextarea]="true" [hasDisabled]="true"></app-textfield-standard>
            </div>
        </div>
    </main>

    <div id="scrollbar-background"></div>
</div>